/** Itens gerais**/
*{
  box-sizing: border-box;
}

body{
    background-color:#ffe6e6;
    color:#eb4b5e;
    font-family:Candara, Helvetica, sans-serif;
    margin: 0;
    padding: 10px 50px 50px 50px;
  }

h1, h2{
  margin:0;
}

header  h1 {
    font-size: 5rem;
    user-select: none;
    }

#logo{
  display: flex;
  justify-content: center;
  padding:10px;
}

#logoimage{
padding-right:10px;
pointer-events: none;
}

.menu{
  background-color:#eb4b5e;
  display: flex;
  justify-content: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

.menu a{
display: block;
text-align: center;
padding: 14px;
color: white;
text-decoration: none;
transition: background-color 0.5s;
}

.menu > a:hover{
  background-color: white;
  color: #eb4b5e;
}

.coluna-esquerda{
  float: left;
  width:75%;
}

.coluna-direita{
  float: left;
  width:25%;
  padding-left:20px;
}

.card{
  background-color: white;
  padding:20px;
  margin-top:20px;
  margin-bottom: 20px;
  border-radius: 2px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.lastCard{
  margin-bottom: 120px;
}

#promocao-banner{
  height: 200px;
  background-image: url('images/brigadeiros.jpg');
  background-size: 200%;
  color: white;
  font-size: 1vw;
  position: relative;
  text-shadow: 0px 0px 4px #eb4b5e;
  transition: box-shadow 0.5s;
  cursor: pointer;
}

#promocao-banner:hover{
  box-shadow: 10px 10px 16px #888888;
}

#promocao-h2{
  position: absolute;
  bottom: 26px;
  right: 22px;
}

.sobreimg{
  height:75px;
  border-radius:50%;
  margin:10px;
  box-shadow: 0px 0px 5px #888888;
  cursor: pointer;
  transition: box-shadow 0.3s;
}

.sobreimg:hover{
  box-shadow: 5px 5px 10px #888888;
}

.sobreitem{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sobretexto a {
  color:#eb4b5e;
}

.promo{
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  font-size: 1.1vw;
  cursor: pointer;
  padding: 10px;
  transition: box-shadow 0.3s;
  align-items: center;
}

.promo:hover{
  box-shadow: 0px 0px 20px #888888;
}

.promo img{
  height: 50px;
  border-radius:50%;
  margin-right:10px;
  }

.social{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}

.social img{
  margin: 10px;
  cursor: pointer;
  transition: opacity 0.3s;
}

.social img:hover{
  opacity: 0.5;
}

.grid img{
  height:150px;
  border-radius:50%;
  border:2px solid #eb4b5e;
  margin: 10px;
  margin-top: 10px;
}

.produto{
  text-align: center;
  margin: 10px;
  cursor: pointer;
  transition: box-shadow 0.3s;
  border-radius:5px;
  font-size: 20px;
  margin-top: 10px;
  padding: 10px;
  }

 .produto:hover{
   box-shadow: 5px 10px 15px #888888;
 }

.grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  font-size: 22px;
  grid-gap:16px;
}

#choco{
  text-align: center;
}

#vendidos{
  text-align: center;
}

.titulo-produto{
  font-weight:bold;
}

.produto p{
  margin:0;
  margin-top: 0px;
}

.preco-produto{
  font-weight: normal;
}

.miniGrid{
  height:270px;
  overflow: auto;
  padding:15px;
}

#entrega{
  position: fixed;
  bottom: 5px;
  right: 10px;
  height:100px;
  width:300px;
}

#entrega img{
  position: absolute;
  right:10px;
  width: 75px;
  border-radius:50%;
}

#tel{
  position:absolute;
  height:60px;
  background-color:#cf4b4f;
  color:white;
  margin-top:10px;
  padding:10px;
  left:16px;
  border-radius:16px;
  opacity:0;
  transition: opacity 0.3s;
  }

#entrega img:hover + #tel{
 opacity:1;
}

  #tel p{
    margin:0;
  }

  @media screen and (max-width:800px) {

.coluna-esquerda{
  width:100%;
}

.coluna-direita{
  width:100%;
  padding:0;
}

header  h1 {
    font-size: 3rem;
    }

#logoimage{
width:75px;
}

#promocao-banner{
  font-size: 4vw;
  margin-top:0;
}

.promo{
  font-size:5vw;
}
  
.body{
    padding: 5px 25px 25px 25px;
  }
}

@media screen and (max-width:450px){

  body{
    padding: 5px 25px 25px 25px;
  }

  .menu{
    display:block;
  }
  
  .promo{
  font-size:5vw;
}


}

  
